<h1>My Edited Post</h1>

<h1><%= @post.title %></h1>

<h3>Category: <%= link_to @post.category.name, category_path(@post.category) if @post.category %></h3>

<h1>My edited post description</h1>

<p><%= @post.description %></p>
