<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->

<!-- heavy use of associations. -->
<h1><%= @category.name %></h1>

<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>

  <!-- loops similar to index actions. category = an index of its posts-->
 <% @category.posts.each do |p| %>
   <li><%= link_to p.title, post_path(p) %></li>
 <% end %>
</ul>


<!-- in rails console:
 Post.count
 => 4
clickbait = Category.find_by(name: "Motivation")
 => #<Category id: 1, ...>
clickbait.posts.count
 => 3 -->
